.tooltips {
  position: relative;
  display: inline-block;
}

.tooltips .tooltipstext {
  visibility: hidden;
  min-width: 200px;
  background-color: #A1316C;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -200px;
  left: 110%;
}

.tooltips .tooltipstext::after {
  content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #A1316C transparent transparent;
}
.tooltips:hover .tooltipstext {
  visibility: visible;
}
li{
  list-style-type: none;
}